.details-div {
    margin-top: 20px !important
}
.seller-heading-div {
    margin-top: 10px !important
}
.market-price-style {
    margin-top: 20px !important
}
.sellerList-section .hr {
    border: '1px double black'
}