.col-md-2.corner-title-box {
  background-color: #f2f3f4;
  padding-top: 6px;
  padding-bottom: 5px;
  height: 100%;
}
#Co-Innovation-Lab-Name {
  color: #27394f;
}
#Illiquid-Assets-Name {
  color: #0097f0;
}