.login-section .col-md-4.loginBox{
    background-color: white;
    margin-top: 150px;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 2px 2px 10px;
}
.login-section .col-md-4 .col-md-10 div input{ 
    border: 0px;
    background: white;
    outline: none;
    padding-left: 20px;
}
.login-section .col-md-4 .col-md-10 hr{
    border: 1px solid #bcbcbc;
    margin: 0px;
}
.login-section .col-md-5.infoBox {
    margin-top: 150px;
    height: 100%;
}
.login-section .col-md-5 .infoBox-style{
    margin-bottom: 40px
}
.login-section .col-md-4 .col-md-10 button{
    outline: none;
    width: 55%;
}
.login-section .col-md-4 .col-md-10 a{
    cursor: pointer
}
