.BidApprovalPage-section table tr td:hover {
    cursor: default;
}

.BidApprovalPage-section table tr th {
    text-align: left;
}

.BidApprovalPage-section table tr td {
    text-align: left;
}

.BidApprovalPage-section table tr td:nth-child(3) {
    text-align: right;
}
.BidApprovalPage-section #bidListPane {
    margin: 20px 0px 5px 0px;
}
.BidApprovalPage-section .footerPane {
    position: fixed;
    width: 81%;
    display: block;
    bottom: 15px;
}