.AdminsecurityMaster-section .row .col-md-4.assetType-div-style {
    margin-top: 20px
}
#asset-type {
    outline: none;
    margin-left: 5px;
}
#asset-type-label {
    font-weight: bold;
    margin-bottom: 0px;
}
.AdminsecurityMaster-section a{
    cursor: pointer
}
.AdminsecurityMaster-section .noAssetmsg {
    color: #bcbcbc;
    text-align: center;
}